#### Create a dataframe of ten rows, four columns with random values. Convert some values to nan values. Write a Pandas program which will highlight the nan values.

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
#creation of dataframe with random values
np.random.seed(42) 
data = np.random.rand(10, 4)
df = pd.DataFrame(data, columns=['A', 'B', 'C', 'D'])

In [3]:
#replae some values in nan values
df.iloc[1, 2] = np.nan
df.iloc[4, 0] = np.nan
df.iloc[7, 3] = np.nan

In [6]:
def highlight_nan(s):
    return ['background-color: green' if pd.isna(v) else '' for v in s]

styled_df = df.style.apply(highlight_nan, axis=1)
styled_df