#### Create a dataframe of ten rows, four columns with random values. Write a Pandas program to highlight dataframeâ€™s specific columns with different colors.

In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
# creation of dataframe with random values
np.random.seed(42)
data = np.random.rand(10, 4)
df = pd.DataFrame(data, columns=['A', 'B', 'C', 'D'])

In [8]:
#def highlight columns with different colors
def highlight_columns(column):
    if column.name == 'A':
        return ['background-color: blue'] * len(column)
    elif column.name == 'B':
        return ['background-color: green'] * len(column)
    elif column.name == 'C':
        return ['background-color: red'] * len(column)
    elif column.name == 'D':
        return ['background-color: purple'] * len(column)
    else:
        return [''] * len(column)

styled_df = df.style.apply(highlight_columns, axis=0)
styled_df